*{
  font-size: 18px;
}
label{
  margin: 10px;
}
select{
  border-radius: 25px;
  width: 260px;
  height: 40px;
}

option{
  font-size: 14px;
}
input{
  border-radius: 25px;
  width: 260px;
  height: 37px;

}
