*{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 25px;
  line-height: 46px;
}

p{
  padding-top:5px;
  margin: 0;
  cursor: pointer;

}
h2{
  padding-top:5px;
  margin: 0;
}

hr{
  color: #234964;
}
